div.wrapper {
	height: 1585px;
	width: 1600px;
	margin: auto;
}

div.header {
	height: 170px;
	width: 1600px;
	background-color: #e8e8e8;
}

div.banner {
	height: 311px;
	width: 1600px;
	background-color: #1d4671;
}

div.logo {
	margin-left: 363px;
    margin-top: 20px;
    float: left;
}

div.search {
	background-color: #ffffff;
	height: 40px;
	width: 510px;
	border-radius: 0 0 10px 10px;
	display: inline-block;
	margin-left: 44px;
	padding-left: 5px;
	border: 1px solid #cccccc;
}
input.inputSearch {
	border-radius: 5px;
	height: 26px;
	width: 252px;
	margin-top: 4px;
}

span.searchText {
	font-size: 13px;
	font-family: Verdana;
}

img.search {
	position: absolute;
	margin-left: 5px;
    top: 15px;
}

div.menuPanel {
	position: relative;
	margin-left: 350px;
    margin-top: 90px;
}

ul.menu {
	position: absolute;
}

li {
	display: inline;
	font-size: 12px;
	font-family: Arial;
	font-weight: bold;
	color: #79a100;
	margin-left: 20px;
}

li#menu1 {
	margin-left: -20px;
}
li#menu2 {
	margin-left: 40px;
}

div.bannerContent {
	height: 311px;
	width: 900px;
	margin: 0 auto;
	position: relative;
}

span.bannerText1 {
	display: inline-block;
	font-size: 32px;
	font-weight: bold;
	color: #ffffff;
	font-family: Malgun Gothic;
	margin-left: 70px;
    margin-top: 20px;
}

span.bannerText2 {
	display: inline-block;
	font-size: 24px;
	font-weight: bold;
	color: #ffffff;
	font-family: Malgun Gothic;
	margin-left: 70px;
	margin-top: -36px;
}

span.bannerText1 p {
	line-height: 1.0;
}

span.bannerText2 p {
	line-height: 0.8;
}

div.bannerButton_1 {
	height: 42px;
	width: 165px;
	background-color: #72ac00;
	border-radius: 10px;
}

span.bannerButton1 {
	float: left;
	margin-left: 70px;
	margin-top: 20px;
}

span.bannerOr {
	float: left;
	margin-left: 18px;
    margin-right: 18px;
    margin-top: 20px;

}

span.bannerButton2 {
	float: left;
	margin-top: 20px;
}

div.banner_monitor {
	text-align: center;
	margin-top: -150px;
}